<form asp-action="Index" class="w3-container">

<label>EmployeeID: </label>
<input class="w3-input" name= "EmployeeID" type="text">

<label>FullName: </label>
<input class="w3-input" name="FullName" type="text">

<label>Age: </label>
<input class="w3-input" name="Age" type="number">

<label>Address: </label>
<input class="w3-input" name="Address" type="text">
<input type="submit" value="Send">

</form>

<p>@ViewBag.Export2</p>