<form asp-action="Index" class="w3-container">

<label>PersonID: </label>
<input class="w3-input" name= "PersonID" type="text">

<label>FullName: </label>
<input class="w3-input" name="FullName" type="text">

<label>Salary: </label>
<input class="w3-input" name="Salary" type="number">
<input type="submit" value="Send">

</form>

<p>@ViewBag.Export2</p>