<form asp-action="CalculateSalary">
    <input type="text" name="name" placeholder="Họ tên">
    <input type="text" name="salary" placeholder="Lương cơ bản">
    <input type="text" name="factor" placeholder="Hệ số lương">
    <input type="text" name="allowance" placeholder="Phụ cấp">
    <input type="submit" value="Tính lương">
</form>

<p>Lương: @ViewBag.Salary</p>