<form asp-action="Solve">
    <label>A = </label>
    <input type="number" name="a">
    <label>B = </label>
    <input type="number" name="b">
    <label>C = </label>
    <input type="number" name="c">
    <input type="submit" value="Solve">
</form>