@model BTL.Models.NhaCungCap

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Thêm Nhà Cung Cấp</h1>
<div class="row">
    <div class="d-flex justify-content-center">
        <form asp-action="Create" style="width: 650px;">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group mt-3">
                <label asp-for="MaNhaCungCap" class="control-label">Mã NCC</label>
                <input asp-for="MaNhaCungCap" class="form-control">
                <span class="text-danger" asp-validation-for="MaNhaCungCap"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="TenNhaCungCap" class="control-label">Tên Nhà Cung Cấp</label>
                <input asp-for="TenNhaCungCap" class="form-control">
                <span class="text-danger" asp-validation-for="TenNhaCungCap"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="DiaChi" class="control-label">Địa Chỉ</label>
                <input asp-for="DiaChi" class="form-control">
                <span class="text-danger" asp-validation-for="DiaChi"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="SdtNhaCungCap" class="control-label">Số điện thoại</label>
                <input asp-for="SdtNhaCungCap" class="form-control">
                <span class="text-danger" asp-validation-for="SdtNhaCungCap"></span>
            </div>
            <div class="form-group mt-3 d-flex justify-content-around">
                <input type="submit" class="btn btn-primary" value="Lưu thông tin" style="width: 200px">
                <a asp-action="Index" class="btn btn-secondary" style="width: 200px">Trở lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
